.view-height {
  height: 100vh;
  padding: 20px;
}

.inner-panel {
  height: 100%;
  width: 100%;
  padding: 10px;
  overflow-x: auto;
  overflow-y: auto;
}

textarea {
  font-family: Consolas,Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;
  background-color: #eff0f1;
}